# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.WexHomework3.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\EgorAntonovich\Documents\lshchurko\WexHomework3\.idea\.idea.WexHomework3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
