# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.book_homework5.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\EgorAntonovich\Documents\lshchurko\book_homework5\.idea\.idea.book_homework5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
